<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navigation-toggle">
  <label for="navigation-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>
  <div class="navigation__background">&nbsp;</div>
  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a href="#" class="navigation__link">Matches</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Lists</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Messages</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">My Profile</a></li>
    </ul>
  </nav>
</div>
