<figure class="user-tabs">
  <mat-tab-group #memberTabs>
    <mat-tab label="Edit profile">
      <app-edit-form class="app-form"></app-edit-form>
    </mat-tab>
    <mat-tab label="Edit photos">
      <app-member-photo-edit></app-member-photo-edit>
    </mat-tab>
    <mat-tab label="Add photos">
      <app-member-photo-upload></app-member-photo-upload>
    </mat-tab>
    <mat-tab label="Add photos locally">
      <app-upload-local-files></app-upload-local-files>
    </mat-tab>
  </mat-tab-group>
</figure>
