<figure class="user-tabs">
  <mat-tab-group>
    <mat-tab label="Edit profile">
      <app-edit-form class="app-form"></app-edit-form>
    </mat-tab>
    <mat-tab label="Edit photos">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi ea eaque fugiat minus optio
        quasi quod tempora voluptates. Doloremque eius est expedita facilis illo, impedit modi placeat qui quidem
        tenetur totam vero voluptates. A adipisci architecto asperiores at blanditiis ducimus eum ex excepturi,
        exercitationem facilis ipsam itaque maiores non odio omnis recusandae repellat saepe sed. Accusantium alias at
        blanditiis consequuntur distinctio fuga ipsam laudantium obcaecati odio officia perspiciatis quae, reprehenderit
        saepe voluptates voluptatum. Ab aliquam, aliquid at commodi debitis deserunt distinctio dolores ducimus earum
        exercitationem explicabo fugit illo itaque nam nihil odit officia quia reprehenderit temporibus tenetur veniam
        voluptate!</p>
    </mat-tab>
  </mat-tab-group>
</figure>
