<div class="uploader">
  <form class="uploader-form"
        [formGroup]="uploadForm" (ngSubmit)="onUpload()">
    <mat-form-field appearance="outline" class="uploader-form__single">
      <mat-label>Single File Upload</mat-label>
      <ngx-mat-file-input
        #removableInput
        formControlName="single"
        [accept]="'image/*'"
        placeholder="You file here"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
      <button mat-icon-button matSuffix
              *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="uploader-form__multiple">
      <mat-label>Multiple File Upload</mat-label>
      <ngx-mat-file-input
        #removableInput
        multiple
        formControlName="multiple"
        [accept]="'image/*'"
        placeholder="You files here"></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
      <button mat-icon-button matSuffix
              *ngIf="!removableInput.empty"
              (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>

    <button
      type="submit"
      mat-icon-button
      color="primary"
      class="uploader-form__submit"
      [disabled]="!uploadForm.dirty">
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </form>
  <div class="uploader-preview">
    <img [src]="fullPath | safeHtml" alt="photos">

    <div class="photo-card">
      <img class="photo-card__photo" src="{{'/assets/original.png'}}" alt="photo">
      <div class="photo-card__btn-group">
        <button class="btn-item" mat-icon-button
                color="primary">
          <mat-icon>account_circle</mat-icon>
        </button>

        <button class="btn-item" mat-icon-button
                color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
