.photo-container {
  padding: 3rem 1rem;
  max-height: 40rem;
  overflow: scroll;

  &__photos-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1rem;
  }
}

.photo-card {
  position: relative;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    transition: box-shadow .15s linear;
    transition-delay: .05s;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;

    background: linear-gradient(180deg, rgba(0, 0, 0, .65) 0, rgba(0, 0, 0, .65) 7%, transparent 82%, transparent);
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
  }

  &:hover:after {
    transition: all .2s;
    visibility: visible;
    opacity: 1;
  }

  &__photo {
    width: 100%;
    height: 12rem;
    border-bottom: 1px solid #E0E0E0;
  }

  &__description {
    &.no-content {
      background: url(~src/assets/sidebar-divider.png) right repeat;
      //background-size: cover;

      & > p {
        font-size: 100% !important;
        font-weight: 200 !important;
        color: #757575;
      }
    }

    & > p {
      padding: .3rem;
      display: block;
      width: 10rem;
      font-size: .6rem;
      text-align: center;
      margin-bottom: 0 !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }


  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E0E0E0;
  }

  &__menu {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.btn-item {

}

.btn-menu-toggle {
  z-index: 1;
}

.menu-toggle {
  color: #fff;
}

