<div class="photo-container">
  <div class="photo-container__photos-cards">
    <div class="photo-card" *ngFor="let photo of user.photos">
      <img class="photo-card__photo" src="{{photo.url}}" alt="{{user?.displayName}} photo">
      <div class="photo-card__description" [ngClass]="{'no-content':!photo.description}">
        <p>{{photo.description || 'no content'}}</p>
      </div>
      <div class="photo-card__btn-group">
        <button class="btn-item" mat-icon-button
                matTooltip="{{photo.isMain?'':'Set to profile'}}"
                color="primary"
                matTooltipPosition="above"
                [disabled]="photo.isMain"
                (click)="setMain(photo.id)"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <button class="btn-item" mat-icon-button matTooltip="{{photo.status ? 'Set to Public' : 'Set to Private'}}"
                matTooltipPosition="above"
                (click)="setStatus(photo.id)"
        >
          <mat-icon>{{photo.status ? 'lock' : 'lock_open'}}</mat-icon>
        </button>
        <button class="btn-item" mat-icon-button matTooltip="{{photo.isMain?'':'Delete photo'}}"
                color="warn"
                matTooltipPosition="above"
                [disabled]="photo.isMain"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="photo-card__menu">
        <button mat-icon-button class="btn-menu-toggle" [matMenuTriggerFor]="menu">
          <mat-icon class="menu-toggle">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [disabled]="photo.isMain"
                  (click)="setMain(photo.id)">
            <mat-icon>account_circle</mat-icon>
            <span>Set to profile</span>
          </button>
          <button mat-menu-item
                  (click)="setStatus(photo.id)">
            <mat-icon>{{photo.status ? 'lock' : 'lock_open'}}</mat-icon>
            <span>{{photo.status ? 'Set to Public' : 'Set to Private'}}</span>
          </button>
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit description</span>
          </button>

          <mat-divider></mat-divider>
          <button mat-menu-item [disabled]="photo.isMain">
            <mat-icon>delete</mat-icon>
            <span>Delete photo</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
