/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../node_modules/alertifyjs/build/css/alertify.min.css";
@import "../node_modules/alertifyjs/build/css/themes/semantic.min.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #F5F5F5 !important;
  box-sizing: border-box;
  padding: 6rem;
  margin: 0;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  unicode-bidi: embed;
}

html {
  height: 100%;
}

.mat-select-panel {
  background: #EDE7F6;
}

.mat-menu-panel {
  min-width: 140px !important;
  max-width: 329px;
}

.mat-menu-content {
  padding: 0 !important;
}

.alertify-notifier.ajs-top {
  top: 55px !important;
}

.header__menu {
  background-image: linear-gradient(
      135deg,
      rgb(103, 58, 183) 0%,
      rgb(33, 138, 174) 69%
  ) !important;
  margin-top: 0.7rem;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.header__menu-item {
  color: #eee;
  text-align: center !important;
}

.menu-icon {
  color: #eee !important;
  margin-right: 3px !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}
