/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #F5F5F5 !important;
  box-sizing: border-box;
  padding: 6rem;
  margin: 0;
}

html {
  height: 100%;
}
