<section class="sidebar">
  <div class="row">
    <a href="#main-menu" class="sidebar__toggle" id="main-menu-toggle">
      <span class="fa fa-bars"></span>
    </a>
  </div>

  <nav id="main-menu" class="main-menu">
    <a class="menu-close" href="#main-menu-toggle">
      <span class="fa fa-close"></span>
    </a>
    <ul>
      <li><a href="#">CSS Resources</a></li>
      <li><a href="#">Design</a></li>
      <li><a href="#">Videos</a></li>
      <li><a href="#">Social Media</a></li>
      <li><a href="#">Inspiration</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Top Talent</a></li>
    </ul>
  </nav>

  <a href="#main-menu-toggle" class="backdrop" hidden tabindex="-1"></a>

</section>
