.user-tabs {
  background-color: #fff;
  padding: 2rem;
  height: 100%;

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);


  &:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    transition: box-shadow .15s linear;
    transition-delay: .05s;
  }

}

.detail-tab {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem;
    margin-bottom: 0 !important;
    //border-radius: 100px;
    //border: 1px dotted #757575;
  }

  &__chat-app {
    width: 100%;
  }

}

.ngx-gallery {
  display: block;
  width: 100%;
  height: 100%;
}
