.user-tabs {
  background-color: #fff;
  border-radius: 3px;
  padding: 2rem;
  height: 100%;


  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1);
  transition: transform .2s;

  &:hover {
    transform: scale(1.003);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .10);;
    transition: transform .3s;
  }

}

.detail-tab {
  padding: 3rem;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__content {

  }
}


.ngx-gallery {
  display: inline-block;
  margin-bottom: 1rem;
}
