.user-tabs {
  background-color: #fff;
  padding: 2rem;
  height: 100%;

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);


  &:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, .3);
    transition: box-shadow .15s linear;
    transition-delay: .05s;
  }

}

.detail-tab {
  padding: 3rem;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__content {

  }
}


.ngx-gallery {
  display: inline-block;
  margin-bottom: 1rem;
}
