<figure class="user-tabs">
  <mat-tab-group #memberTabs>
    <mat-tab label="ABOUT">
      <section class="detail-tab">
        <div class="detail-tab__title">
          <p>{{user?.displayName}}'s Description</p>
        </div>
        <div class="detail-tab__content">
          <p>{{user?.introduction}}</p>
        </div>
        <div class="detail-tab__title">
          <p>{{user?.displayName}} is looking for</p>
        </div>
        <div class="detail-tab__content">
          <p>{{user?.lookingFor}}</p>
        </div>
      </section>
    </mat-tab>
    <mat-tab label="INTERESTS">
      <section class="detail-tab">
        <div class="detail-tab__title">
          <p>{{user?.displayName}} Interests</p>
        </div>
        <p><br></p>
        <div class="detail-tab__content">
          <p>{{user?.interests}}</p>
        </div>
      </section>
    </mat-tab>
    <mat-tab label="PHOTOS">
      <section class="detail-tab">
        <p class="detail-tab__title">{{user?.displayName}}'s photos</p>
        <ngx-gallery class="ngx-gallery" [options]="galleryOptions"
                     [images]="galleryImages"></ngx-gallery>
      </section>
    </mat-tab>
    <mat-tab label="CHAT">
      <section class="detail-tab">
        <app-chat [repoUser]="user" class="detail-tab__chat-app"></app-chat>
      </section>
    </mat-tab>
  </mat-tab-group>
</figure>
