<mat-toolbar color="primary" class="mat-elevation-z6 header" role="heading">
  <mat-toolbar-row aria-label="Top Toolbar" class="header__nav">
    <a mat-button [routerLink]="['/']">
      <mat-icon class="header__nav-logo" svgIcon="beer"></mat-icon>
    </a>
    <span class="flex-spacer"></span>

    <mat-nav-list fxLayout class="header__mat-list" *ngIf="onLoggedIn">
      <a mat-list-item routerLinkActive="active" [routerLink]="['/members']" class="header__mat-item">Matches</a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/lists']" class="header__mat-item">Lists</a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['/messages']" class="header__mat-item">Messages</a>
    </mat-nav-list>

    <span class="flex-spacer"></span>


    <mat-chip-list *ngIf="!onLoggedIn else loggedIn">
      <mat-chip color="primary" selected>You are not logged in</mat-chip>
    </mat-chip-list>

    <ng-template #loggedIn>
      <button mat-button [matMenuTriggerFor]="afterMenu">
        Welcome {{displayName|titlecase}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #afterMenu="matMenu" xPosition="after" class="header__menu">
        <button mat-menu-item class="header__menu-item" (click)="logOut()">
          <mat-icon class="menu-icon">input</mat-icon>
          Logout
        </button>
        <button mat-menu-item class="header__menu-item">
          <mat-icon class="menu-icon">face</mat-icon>
          Profile
        </button>
      </mat-menu>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>
