<mat-toolbar class="mat-elevation-z6 header" color="primary" role="heading">
  <mat-toolbar-row class="header-nav" aria-label="Top Toolbar">

    <a class="header-nav__button" mat-button [routerLink]="['/']">
      <mat-icon class="logo" svgIcon="beer"></mat-icon>
    </a>
    <span class="header-nav__spacer"></span>

    <mat-nav-list class="header-nav__links"  *ngIf="onLoggedIn">
      <a class="link-item" mat-list-item routerLinkActive="active" [routerLink]="['/members']">Matches</a>
      <a class="link-item" mat-list-item routerLinkActive="active" [routerLink]="['/lists']">Lists</a>
      <a class="link-item" mat-list-item routerLinkActive="active" [routerLink]="['/messages']">Messages</a>
    </mat-nav-list>

    <span class="header-nav__spacer"></span>


    <mat-chip-list class="header-nav__chip-list" *ngIf="!onLoggedIn else loggedIn">
      <mat-chip class="chip" color="primary" selected>You are not logged in</mat-chip>
    </mat-chip-list>

    <ng-template #loggedIn>
      <div class="header-nav__user">
        <img class="user-photo" src="{{user.photoUrl}}" alt="{{user.displayName}} photo"
             (click)="onEditProfilesPhoto()">
      </div>
      <button mat-button [matMenuTriggerFor]="afterMenu">
        Welcome {{displayName|titlecase}}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #afterMenu="matMenu" xPosition="after" class="header__menu">
        <button mat-menu-item class="header__menu-item" (click)="logOut()">
          <mat-icon class="menu-icon">input</mat-icon>
          Logout
        </button>
        <button mat-menu-item class="header__menu-item" (click)="onEditProfile()">
          <mat-icon class="menu-icon">face</mat-icon>
          Profile
        </button>
      </mat-menu>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>
