.member-filter {
  margin-bottom: 1rem;

  &__title {
    padding: .5rem;
    border-radius: 45px;
    margin-bottom: 1rem;
    width: 15vw;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: background-color .2s;

    &:hover {
      background-color: rgba(255, 255, 255, .8);
    }

    display: flex;
    align-items: center;

    *:not(:last-child) {
      margin-right: 5px;
    }
  }

  .filter-form-card {
    background-color: #FFEBEE;
  }

  &__form {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content;

    .mat-card-content,
    .mat-card-actions {
      margin-bottom: 0 !important;
    }

    .form-fields {
      display: grid;
      grid-template-columns: repeat(4, min-content);
      grid-template-rows: auto;
      grid-column-gap: 1rem;

      &__min {
        width: 5vw;
      }

      &__max {
        width: 5vw;
        grid-column: 2/3;
      }

      &__gender {
        grid-column: 3/4;
        grid-column-gap: 1rem;
        justify-self: center;
        align-self: center;
        display: flex;
        align-content: center;

        *:not(:last-child) {
          margin-right: 1rem;
        }
      }

      &__btn-group {
        grid-column: 4/5;
        justify-self: center;
        align-self: center;
        display: flex;
      }
    }
  }
}

.member-list {
  background-color: #FFEBEE;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content min-content;
  justify-items: center;
  align-items: center;

  &__content {
    margin: 0;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(5, minmax(10rem, 14rem));
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  &__actions {
    justify-self: center;
    margin-bottom: 1rem;
    grid-row: 1/2;

    .paginator {
      background-color: #FFEBEE;
    }
  }
}
