.messages {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;

  &__switch {
    .switch-card {
      background-color: rgba(255, 235, 238, .5);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: background-color .2s;

      &:hover {
        background-color: rgba(255, 235, 238, 1);
      }

      &__chip {
        margin-bottom: 1rem;
      }

      &__messages-toggle {
        border: 1px solid #5A33A1;
        border-radius: 50px;
      }
    }
  }

  .message-box {
    position: absolute;
    top: 248px;
    left: 104px;
    z-index: 2;
    padding: .5rem;
    border-radius: 45px;
    margin-bottom: 1rem;
    width: 14rem;
    background-color: rgba(255, 235, 238, .5);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: background-color .2s;

    &:hover {
      background-color: rgba(255, 235, 238, 1);
    }

    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    *:not(:last-child) {
      margin-right: 5px;
    }
  }

  .paginator {
    background: #FFEBEE !important;
    margin-bottom: 1rem;
  }

  .messages-card {
    position: relative;
    background-color: #FFEBEE;
    grid-column: 1/-1;

    display: flex;
    flex-direction: column;
    align-items: center;

    .accordion {
      display: block;
      width: 35rem;
    }

    .message-expansion-panel {

    }

    .expansion-header {
      background: linear-gradient(83deg, rgba(225, 245, 254, 1) 40%,
        rgba(250, 250, 250, 1) 100%);
      cursor: auto !important;

      &.unread {
        background-image: linear-gradient(315deg, rgba(255, 78, 0, 0.4) 0%, rgba(236, 159, 5, 0.5) 74%);
      }


      &__title {
        align-items: center;
        margin-right: 0;

        *:not(:last-child) {
          margin-right: 1rem;

        }

        .title-avatar {
          overflow: hidden;

          .sender-photo {
            height: 40px;
            width: 100%;
            border-radius: 50%;
            display: block;
            object-fit: cover;
          }
        }

        .title-date {
          font-size: .8rem;
        }

        .title-person {
          color: #D50000;
        }

        .content-prev {
          font-size: .8rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 228px;
          color: #0091EA;
        }
      }

      &__description {
        margin: 0;
      }
    }

    .message-content {
      margin-top: 1.5rem;

    }

    .message-footer {
      background: linear-gradient(225deg, rgba(225, 245, 254, 1) 40%, rgba(250, 250, 250, 1) 100%);

      &.unread {
        background-image: linear-gradient(315deg, rgba(255, 78, 0, 0.4) 0%, rgba(236, 159, 5, 0.5) 74%);
      }

      .btn-visibility {
        margin-right: auto;

        .icon-visibility {
          color: #43A047 !important;
        }
      }
    }
  }
}

.mat-chip-list-wrapper {
  flex-wrap: nowrap !important;
}
