<mat-card class="member-card">
  <mat-card-header class="member-card__header">
    <!--    <div mat-card-avatar class="avatar-img"></div>-->
    <!--    <mat-card-title class="title">{{user.displayName}}</mat-card-title>-->
    <!--    <mat-card-subtitle>age: {{user.age}}</mat-card-subtitle>-->
  </mat-card-header>
  <div class="member-card__img-wrapper">
    <img class="card-img" mat-card-image src="{{user.photoUrl}}" alt="{{user.displayName}} photo">

    <ul class="user-list-member-icons">
      <li class="icon-item">
        <button class="icon-item__button" mat-icon-button>
          <mat-icon class="icon-button1">account_circle</mat-icon>
        </button>
      </li>
      <li class="icon-item">
        <button class="icon-item__button" mat-icon-button>
          <mat-icon class="icon-button2">favorite</mat-icon>
        </button>
      </li>
      <li class="icon-item">
        <button class="icon-item__button" mat-icon-button>
          <mat-icon class="icon-button3">mail</mat-icon>
        </button>
      </li>
    </ul>
  </div>


  <mat-card-content class="member-card__content">
    <p class="city">City: {{user.city}}</p>
  </mat-card-content>
  <mat-card-actions class="member-card__actions">

  </mat-card-actions>
</mat-card>
