.member-card {
  width: 100%;
  transition: transform .1s;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 1.5rem 8rem rgba(#000, .10);
  }

  &__header {
    .title {
    }
  }

  &__img-wrapper {
    position: relative;
    overflow: hidden;

    .card-img {
      width: 100% !important;
      margin: 0 !important;
      transform: scale(1.0, 1.0);
      transition: transform ease-out .5s;

      &:hover {
        transform: scale(1.2, 1.2);
        transition: ease-out .5s;
        opacity: 0.7;
      }
    }

    &:hover .user-list-member-icons {
      opacity: 1;
      transition: all .4s ease-in-out;
      top: 50%
    }

    .user-list-member-icons {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      list-style: none;
      text-align: center;
      opacity: 0;

      .icon-item {
        display: inline-block;
        transform: scale(1.0, 1.0);
        transition: ease-out .2s;
        opacity: 1;

        &:hover {
          transform: scale(1.4, 1.4);
          transition: ease-out .2s;
          opacity: 1;
        }

        &__button {
          .icon-button1 {
            color: #7E57C2;
          }

          .icon-button2 {
            color: #FF7043;
          }

          .icon-button3 {
            color: #26A69A;
          }
        }
      }
    }
  }


  &__content {
    .city {
      margin-left: 1rem;
    }
  }

  &__actions {
  }
}
