.member-card {
  width: 100%;
  transition: transform .1s;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 1.5rem 8rem rgba(#000, .10);
  }

  &__header {
    .title {

    }
  }

  &__img {
    width: 100% !important;
    margin: 0 !important;
  }

  &__content {
    .city {
      margin-left: 1rem;
    }
  }

  &__actions {

  }
}


//<mat-card class="member-card">
//<mat-card-header class="member-card__header">
//<div mat-card-avatar class="avatar-img"></div>
//<mat-card-title class="title">{{user.displayName}}, {{user.age}}</mat-card-title>
//</mat-card-header>
//<img mat-card-image src="{{user.photoUrl}}" alt="{{user.displayName}} photo" class="member-card__img">
//<mat-card-content class="member-card__content">
//
//</mat-card-content>
//<mat-card-actions class="member-card__actions">
//
//</mat-card-actions>
//</mat-card>
