<mat-card class="member-card">
  <div class="member-card__img-wrapper">
    <img class="card-img" mat-card-image src="{{user.photoUrl||'/assets/original.png'}}"
         alt="{{user.displayName}} photo">

    <ul class="user-list-member-icons">
      <li class="icon-item">
        <button class="icon-item__button" mat-icon-button
                [routerLink]="['/member/',user.id]"
                matTooltip="View member"
                matTooltipPosition="above"
        >
          <mat-icon class="icon-button1">account_circle</mat-icon>
        </button>
      </li>
      <li class="icon-item">
        <button class="icon-item__button" mat-icon-button
                matTooltip="Like member"
                matTooltipPosition="above"
                *ngIf="!user.like"
                (click)="likeMember(user.id)">
          <mat-icon class="icon-button2">favorite</mat-icon>
        </button>
        <button class="icon-item__button" mat-icon-button
                matTooltip="Remove like"
                matTooltipPosition="above"
                *ngIf="user.like==='Likees'"
                (click)="removeLike(user.id)">
          <mat-icon class="icon-button2">not_interested</mat-icon>
        </button>
      </li>
      <li class="icon-item">
        <button class="icon-item__button" mat-icon-button
                matTooltip="Send message"
                matTooltipPosition="above"
                (click)="sendMsg()">
          <mat-icon class="icon-button3">mail</mat-icon>
        </button>
      </li>
    </ul>
  </div>

  <mat-card-content class="member-card__content">

    <span class="item">
      <mat-icon class="item__icon">contacts</mat-icon>
      <span class="item__text">{{user.displayName}}</span></span>
    <span class="item">
      <mat-icon class="item__icon">perm_identity</mat-icon>
      <span class="item__text">{{user.age}}</span></span>
    <span class="item">
      <mat-icon class="item__icon">location_city</mat-icon>
      <span class="item__text">{{user.city}}</span></span>
  </mat-card-content>
  <mat-card-actions class="member-card__actions">

  </mat-card-actions>
</mat-card>
