.card-form {
  background-color: #EDE7F6;
  margin: 4rem auto;
  min-width: 10rem;
  max-width: 20rem;
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(#000, .15);
  transition: transform .3s;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 1.5rem 8rem rgba(#000, .10);
  }
}
