.edit-form {
  //display: flex;
  //flex-direction: column;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, min-content);
  grid-row-gap: 1rem;

  padding: 1rem;

  border: 1px dotted transparent;
  transition: border .2s;

  &:hover {
    border: 1px dotted #7CB342;
    border-radius: 5px;
  }

  &__textarea {
  }

  &__date {
    justify-self: start;
  }

  &__submit {
    margin-top: 10px;

    & > *:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

.location-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
