<form
  class="edit-form"
  [formGroup]="updateForm"
  (ngSubmit)="updateUser()">

  <mat-form-field class="edit-form__textarea">
    <mat-label>Introduction</mat-label>
    <textarea matInput
              type="text"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
              formControlName="introduction"
              placeholder="Your introduction"></textarea>
  </mat-form-field>

  <mat-form-field class="edit-form__textarea">
    <mat-label>Looking for</mat-label>
    <textarea
      matInput type="text"
      cdkTextareaAutosize
      cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
      formControlName="lookingFor"
      placeholder="Looking For"></textarea>
  </mat-form-field>

  <mat-form-field class="edit-form__textarea">
    <mat-label>Interests</mat-label>
    <textarea matInput type="text"
              cdkTextareaAutosize
              cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
              formControlName="interests"
              placeholder="Tell us about you"></textarea>
  </mat-form-field>

  <div class="location-container">
    <mat-form-field class="edit-form__input">
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city" placeholder="City">
    </mat-form-field>

    <mat-form-field class="edit-form__input">
      <mat-label>Country</mat-label>
      <input matInput type="text" formControlName="country" placeholder="Country">
    </mat-form-field>
  </div>

  <div class="edit-form__submit">
    <button mat-stroked-button
            color="primary" type="submit"
            [disabled]="!updateForm.valid||!updateForm.dirty">Save
    </button>
    <button mat-stroked-button
            color="warn" type="button"
            (click)="cancelChanges()"
            [disabled]="!updateForm.valid||!updateForm.dirty">Cancel
    </button>
  </div>
</form>
