.edit-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    border: 1px dotted #7CB342;
    border-radius: 5px;
    padding: calc(1rem - 1px);
    transition: border .2s;
  }

  &__textarea {
  }

  &__submit {
    margin-top: 10px;
  }
}

.location-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
